<div style="display:flex">

  <div style="display: flex
              flex-direction: column;">
    <div>
      Repositories
    </div>

    <div>
      <ul>
        <% @repositories.all.each do |r| %>
        <li>
          <%= link_to r.address, repository_path(r) %>
          (filter : <%= r.filter %>)
        </li>
        <% end %>
        <% permitted_to? :create, :repositories do %>
        <li> <%= link_to("Create new repository", new_repository_path) %>
        <% end %>
      </ul>
    </div>
  </div>

  <div>
    <%= current_user.login %> /
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </div>

</div>
