<div id="global">

  <div id="revisions">
    <div>
      <div class="header">
        <div class="repository_name">
          <%= @repository.name %>
        </div>
        <a href="#" id="empty_file">Home</a>
        /
        <a href="#" id="head_revision">Head</a>
        /
        <a href="<%= edit_repository_path(@repository) %>">Edit</a>
        /
        <a href="<%= repositories_path %>">Repositories</a>
      </div>
      <input type="hidden" id="repository_id"
             value="<%= @repository.id %>"/>
      <input type="hidden" id="revision"
             value="<%= @selected_revision[:sha] %>"/>
      <input type="hidden" id="filename"
             value="<%= @selected_file %>"/>
    </div>

    <div>
      <select id="revision_selector" onChange="fetch_file_list(base_viewer)">
        <% @revisions.each_with_index do |r| %>
        <option value="<%= r[:sha] %>"
                <% if r[:sha] == @selected_revision[:sha] %>
                selected="selected"
                <% end %>
                >
          <%= r[:sha][0..6] %> - <%= r[:date] %> - <%= r[:author] %>
        </option>
        <% end %>
      </select>
    </div>

    <div>
      <ul id="file_tree">
      </ul>
    </div>
  </div>

  <div id="home">
    <div id="all_comments_div"></div>
  </div>

  <div id="viewer">
    <div class="viewer_header"><%= @selected_file %></div>
    <div id="viewer_div" class="viewer_container"></div>
  </div>

  <div id="overlays"></div>

  <div id="comments">
    <button id="warning_button">Highlight warning</button>
    <button id="error_button">Highlight error</button>
    <button id="toggle_comments">Toggle comments</button>

    <p></p>

    Current comments&nbsp;:
    <div id="current_comments_div"></div>

    Other comments &nbsp;:
    <div id="other_comments_div"></div>
  </div>

  <div id="side_comments">
    <button id="closediff_button">Close Diff</button>

    <p></p>

    Current comment&nbsp;:
    <div id="old_side_comment_div"></div>

    Modified comment&nbsp;:
    <div id="new_side_comment_div"></div>
  </div>

  <div id="side_viewer">
    <div class="viewer_header"></div>
    <div id="side_viewer_div" class="viewer_container">
  </div>

</div>

<script>
  var base_viewer = ace.edit("viewer_div");
  var comments = {}; // Dict to centralize the comments
  base_viewer.setReadOnly(true);

  <% if @selected_revision %>
    fetch_file_list(base_viewer, "<%= @selected_revision[:sha] %>");
  <% end %>

  $("#head_revision").click(() => load_head_revision(base_viewer));
  $("#empty_file").click(() => load_empty_file(base_viewer));
  $("#warning_button").click(save_new_comment("warning", base_viewer));
  $("#error_button").click(save_new_comment("error", base_viewer));
  $("#closediff_button").click(() => close_diff_view(base_viewer));
  $("#toggle_comments").click(toggle_comments);
</script>
