<div style="display:flex">

  <div style="display: flex;
              flex-direction: column;">
    <div>
      <a href="<%= repositories_path %>">Repository&nbsp;:</a>
      <%= @repository.address %>
      (<a href="<%= edit_repository_path(@repository) %>">edit</a>)
      <input type="hidden" id="repository_id"
             value="<%= @repository.id %>"/>
      <input type="hidden" id="revision"
             value="<%= @selected_revision[:sha] %>"/>
      <input type="hidden" id="filename"
             value="<%= @selected_file %>"/>
    </div>

    <div>
      <select id="revision_selector" onChange="fetch_file_list()">
        <% @revisions.each_with_index do |r| %>
        <option value="<%= r[:sha] %>"
                <% if r[:sha] == @selected_revision[:sha] %>
                selected="selected"
                <% end %>
                >
          <%= r[:sha][0..6] %> - <%= r[:date] %> - <%= r[:author] %>
        </option>
        <% end %>
      </select>
    </div>

    <div style="height: 500px;">
      <ul id="file_tree">

      </ul>
    </div>
  </div>

  <div id="viewer" style="height: 900px; width: 900px; flex: 0 0 900px">

  </div>

  <div id="overlays">

  </div>

  <div id="tooltip" class="viewer_tooltip" style="display:none">

  </div>

  <div>
    <button id="warning_button">Highlight warning</button>
    <button id="error_button">Highlight error</button>
    <button id="toggle_comments">Toggle comments</button>

    Current comments&nbsp;:
    <div id="current_comments" style="background-color:rgb(200,200,255)">

    </div>

    Other comments &nbsp;:
    <div id="other_comments" style="background-color:rgb(200,200,215)">

    </div>
  </div>

</div>

<script>
  var viewer = ace.edit("viewer");
  var comments = {}; // Dict to centralize the comments
  viewer.setReadOnly(true);
  viewer.$blockScrolling = Infinity; // fix logs
  viewer.setOptions({
      highlightActiveLine: false,
      fontSize: "13pt",
      theme: 'ace/theme/chrome',
  });
  viewer.renderer.setAnimatedScroll(true);

  <% if @selected_revision %>
    fetch_file_list();
  <% end %>
  <% if @selected_file %>
    load_file("<%= @selected_file %>",
              "<%= @selected_revision[:sha] %>");
  <% end %>

  $("#warning_button").click(save_new_comment("warning"));
  $("#error_button").click(save_new_comment("error"));
  $("#toggle_comments").click(toggle_comments);
</script>
