<div id="global">

  <div id="revisions">
    <div>
      <div>
        <div id="loader" style="background-color:red">
          LOADING
        </div>
        <div class="repository_name bg-primary">
          <%= @repository.name %>
        </div>
        <div class="btn-group btn-group-justified" role="toolbar"
             style="padding: 5px" aria-label="comment_buttons">
          <div class="btn-group" role="group">
            <button id="home_button"  type="button" class="btn btn-success">
              Home</button>
          </div>
          <div class="btn-group" role="group">
            <button id="head_button"    type="button" class="btn btn-danger">
              Head</button>
          </div>
          <div class="btn-group" role="group">
            <button id="edit_button" type="button" class="btn btn-primary">
              Edit</button>
          </div>
          <div class="btn-group" role="group">
            <button id="index_button" type="button" class="btn btn-primary">
              Index</button>
          </div>
        </div>
      </div>

      <input type="hidden" id="repository_id"
             value="<%= @repository.id %>"/>
      <input type="hidden" id="revision"
             value="<%= @selected_revision[:sha] %>"/>
      <input type="hidden" id="filename"
             value="<%= @selected_file %>"/>
    </div>

    <div>
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group" style="padding: 5px">
            <input id="revision_selector" type="text"
                   class="form-control" placeholder="Revisions...">
            <span class="input-group-btn">
              <button id="expand_revisions"
                      class="btn btn-default" type="button">Go!</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-12 -->
      </div><!-- /.row -->
    </div>

    <div id="file_tree">
      <ul id="file_tree_revisions">
      </ul>
    </div>
  </div>

  <div id="home">
    <div id="all_comments_div"></div>
  </div>

  <div id="viewer">
    <div class="viewer_header"><%= @selected_file %></div>
    <div id="viewer_div" class="viewer_container"></div>
  </div>

  <div id="overlays"></div>

  <div id="comments">
    <div class="btn-group btn-group-justified" role="toolbar"
         style="padding: 5px" aria-label="comment_buttons">
      <div class="btn-group" role="group">
        <button id="warning_button"  type="button" class="btn btn-warning">
          Warning</button>
      </div>
      <div class="btn-group" role="group">
        <button id="error_button"    type="button" class="btn btn-danger">
          Error</button>
      </div>
      <div class="btn-group" role="group">
        <button id="toggle_comments" type="button" class="btn btn-primary">
          Toggle</button>
      </div>
    </div>

    <p></p>

    <div id="current_comments">
      <div id="current_comments_hd" class="comments_head">Current comments</div>
      <div id="current_comments_div"></div>
    </div>

    <div id="other_comments">
      <div id="other_comments_hd" class="comments_head">Comments for another revision</div>
      <div id="other_comments_div"></div>
    </div>

    <div id="ancient_comments">
      <div id="ancient_comments_hd" class="comments_head">Ancient comments</div>
      <div id="ancient_comments_div"></div>
    </div>

  </div>

  <div id="side_comments">
    <button id="closediff_button">Close Diff</button>

    <p></p>

    Current comment&nbsp;:
    <div id="old_side_comment_div"></div>

    Modified comment&nbsp;:
    <div id="new_side_comment_div"></div>
  </div>

  <div id="side_viewer">
    <div class="viewer_header"></div>
    <div id="side_viewer_div" class="viewer_container">
  </div>

</div>

<script>
  jQuery.ajaxSetup({
      beforeSend: function() { $('#loader').show(); },
      complete: function(){ $('#loader').hide(); },
      success: function() {}
  });

  var base_viewer = ace.edit("viewer_div");
  var comments = {}; // Dict to centralize the comments
  var revisions = JSON.parse('<%= @revisions.pluck(:sha).inspect.html_safe %>');

  base_viewer.setReadOnly(true);
  init_file_tree(base_viewer);

  <% if @selected_revision %>
    fetch_file_list(base_viewer, "<%= @selected_revision[:sha] %>");
  <% end %>

  $("#head_button").click(() => load_head_revision(base_viewer));
  $("#home_button").click(() => load_empty_file(base_viewer));
  $("#edit_button").click(() =>
     window.location.href = "<%= edit_repository_path(@repository) %>");
  $("#index_button").click(() =>
     window.location.href = "<%= repositories_path %>");
  $("#warning_button").click(save_new_comment("warning", base_viewer));
  $("#error_button").click(save_new_comment("error", base_viewer));
  $("#closediff_button").click(() => close_diff_view(base_viewer));
  $("#toggle_comments").click(toggle_comments);
  $("#revision_selector").autocomplete({
      minLength: 0,
      source: JSON.parse('<%= @revisions.to_json.html_safe %>'),
      position: { my : "left top", at: "left bottom" },
      select: function( event, ui ) {
          const res = ui.item.sha;
          if (res.length >= 6) {
              $("#revision_selector").val(res);
              $("#revision").val(res);
              fetch_file_list(base_viewer);
          }
      },
  }).autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
          .append( "<div><span class='ui-menu-sha'>" + item.sha.substring(0,6) +
                   "</span> (" + item.date + ")<br>" +
                   item.author + "&nbsp;: " + item.description + "</div>" )
          .appendTo( ul );
  };
  $("#expand_revisions").click(() =>
       $("#revision_selector").autocomplete("search", ""));

</script>
