<style type="text/css" media="screen">
  a.comment_line {
      color: rgba(155,0,0,1);
  }
  a.goto_line {
      color: rgba(0,50,200,1);
  }
  .ace_selection {
      background: rgba(0,0,0,0.1) !important;
  }
  .viewer_sel_warning {
      position:   absolute;
      background: rgba(255,255,100,0.5);
      z-index:    20
  }
  .viewer_sel_error {
      position:   absolute;
      background: rgba(255,75,50,0.3);
      z-index:    40
  }
  .viewer_tooltip {
      background-color: #FCC;
      border: 1px solid gray;
      border-radius: 1px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      color: black;
      max-width: 100%;
      padding: 3px 4px;
      position: absolute;
      z-index: 999999;
      box-sizing: border-box;
      cursor: default;
      white-space: pre;
      word-wrap: break-word;
      line-height: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: normal;
      pointer-events: none;
  }
  .viewer_overlay {
      position:absolute;
      z-index: 100;
      padding: 5px;
      width: 300px;
      border: 1px solid black;
  }
  .viewer_overlay textarea {
      border: none;
      width: 100%;
  }
  .viewer_overlay_warning {
      background: rgba(255,255,50,0.4);
  }
  .viewer_overlay_warning textarea {
      background: rgba(255,255,200,0.7);
  }
  .viewer_overlay_error {
      background: rgba(255,100,75,0.4);
  }
  .viewer_overlay_error textarea {
      background: rgba(255,220,200,0.5);
  }
  div.destroy_button {
      position:absolute;
      left:300px; top:-1px;
      padding: 2px;
      background: white;
      border: 1px solid black;
      z-index: 99;
  }
</style>

<div style="display:flex">

  <div style="display: flex;
              flex-direction: column;">
    <div>
      <a href="/repositories/">Repository&nbsp;:</a> <%= @repository.address %>
      <input type="hidden" id="repository_id" value="<%= @repository.id %>"/>
      <input type="hidden" id="revision" value=""/>
      <input type="hidden" id="filename" value=""/>
    </div>

    <div>
      <select id="revision_selector" onChange="fetch_file_list()">
        <% @revisions.each do |r| %>
        <option value="<%= r[:revision] %>">
          <%= r[:date] %> - <%= r[:author] %>
        </option>
        <% end %>
      </select>
    </div>

    <div style="height: 500px;">
      <ul id="file_tree">

      </ul>
    </div>
  </div>

  <div id="viewer" style="height: 900px; width: 900px; flex: 0 0 900px">

  </div>

  <div id="overlays">

  </div>

  <div id="tooltip" class="viewer_tooltip" style="display:none">

  </div>

  <div>
    <button id="warning_button">Highlight warning</button>
    <button id="error_button">Highlight error</button>
    <button id="toggle_comments">Toggle comments</button>

    <div id="comments">

    </div>
  </div>

</div>

<script>
  var viewer = ace.edit("viewer");
  var comments = {}; // Dict to centralize the comments
  viewer.setReadOnly(true);
  viewer.$blockScrolling = Infinity; // fix logs
  viewer.setOptions({
      highlightActiveLine: false,
      fontSize: "13pt",
      theme: 'ace/theme/chrome',
  });
  viewer.renderer.setAnimatedScroll(true);

  function fetch_file_list() {
      const revision = $('#revision_selector').val();
      $.ajax({
          dataType: 'json',
          url: '/repositories/fetch_file_list' +
              '?id=' + $("#repository_id").val() +
              '&revision=' + revision })
          .done(function(data) {
              $("#revision").val(revision);
              load_files(data);
          });
  }

  function clear_comment(id) {
      const comment = comments[id];
      viewer.getSession().removeMarker(comment.marker_id);
      comment.anchor.detach();
      $("#comment_" + id).remove();
      $("#overlay_" + id).remove();
      viewer.session.removeListener("changeScrollTop", comment.callb);
      delete comments[id];
  }

  function clear_comments() {
      Object.keys(comments).forEach(clear_comment);
  }

  function init_viewer(data) {
      let json = JSON.parse(data);
      viewer.setValue(json["contents"]);
      viewer.session.setMode(json["mode"]);
      viewer.clearSelection();
      viewer.navigateFileStart();
      clear_comments();
  }

  function load_file(filename, revision) {
      $.ajax({
          dataType: 'text',
          url : '/repositories/fetch_file' +
              '?id=' + $("#repository_id").val() +
              '&revision=' + revision +
              "&file=" + filename })
          .done(function(data) {
              $("#filename").val(filename);
              init_viewer(data);
              load_comments(filename, revision);
          });
  }

  function load_files(data) {
      $("#file_tree").empty();
      const revision = $("#revision_selector").val();
      const keys = Object.keys(data);

      function fill_level(level) {
          const els = keys.filter((el) => data[el].parent == level);
          els.forEach(function (el) {
              const txtel = data[el].name;
              const domel = (level == "") ? $("#file_tree") : $("ul[data-file='" + level + "']");
              if(data[el].is_dir) {
                  domel.append($('<li>').text(txtel))
                      .append($('<ul data-file="' + el + '">'));
                  fill_level(el);
              } else {
                  const tel = data[el].has_comm ? "<a data-file='" + el + "' class='comment_line'>" +
                        txtel + "</a>" : "<a data-file='" + el + "'>" + txtel + "</a>";
                  domel.append($('<li>').html(tel));
              }
          });
      }

      fill_level("");
      $("#file_tree a").click((event) =>
                              load_file($(event.target).data("file"),
                                        $("#revision").val()));
  }

  function create_new_comment(comment) {
      const Range = require("ace/range").Range;
      const range = new Range(comment.range.start.row,
                              comment.range.start.column,
                              comment.range.end.row,
                              comment.range.end.column);
      const marker = viewer.session.addMarker(range,
                                              "viewer_sel_" + comment.ctype,
                                              "line");
      const div = "<div>" + comment.description +
            "</div> <a class='goto_line' onclick='viewer.gotoLine(" +
            (comment.range.start.row+1) + ", " +
            comment.range.start.column +
            ", false)'>(l. " + comment.range.start.row +
            "-" + comment.range.end.row + ")</a>";
      $("#comments").append($("<div id='comment_" +
                              comment.id + "'>").html(div));
      comments[comment.id] = { marker_id: marker,
                               range: range,
                               ctype: comment.ctype,
                               desc: comment.description };
      $("a[data-file='" + comment.file + "']").addClass("comment_line");
      create_overlay(comment.id);
  }

  function save_new_comment(type) {
      return function () {
          const range = viewer.getSelectionRange();
          $.ajax({
              dataType: 'json',
              url: '/repositories/add_comment' +
                  '?id=' + $("#repository_id").val() +
                  '&revision=' + $("#revision").val() +
                  "&file=" + $("#filename").val() +
                  "&range=" + JSON.stringify(range) +
                  "&type=" + type})
              .done(function(data) {
                  create_new_comment(data);
                  $("#overlay_" + data["id"] + " textarea").select();
              });
      }
  }

  function save_comment_description(comment_id, text) {
      $.ajax({
              dataType: 'json',
          url: '/repositories/save_comment_description' +
              '?id=' + $("#repository_id").val() +
              '&comment_id=' + comment_id +
              '&description=' + text })
          .done(() => {
              const overlay = $("#overlay_" + comment_id + " textarea");
              comments[comment_id].desc = text;
              overlay.val(text);
              overlay.effect("highlight", {color:"#fff"});
              $("#comment_" + comment_id + " div").html(text);
          });
  }

  function destroy_comment(comment_id) {
      $.ajax({
          dataType: 'json',
          url: '/repositories/del_comment' +
              '?id=' + $("#repository_id").val() +
              '&comment_id=' + comment_id })
          .done(function () {
              clear_comment(comment_id);
              if ($("#comments a").length == 0)
                  $("a[data-file='" + $("#filename").val() + "']").
                     removeClass("comment_line");
          });
  }

  function load_comments(filename, revision) {
      $.ajax({
          dataType: 'json',
          url: '/repositories/fetch_comments' +
              '?id=' + $("#repository_id").val() +
              '&revision=' + revision +
              "&file=" + filename })
          .done(function(data) {
              $("#comments").empty();
              data.forEach(create_new_comment);
          });
  }

  // function update_tooltip(position, text){
  //       var div = $('#tooltip')[0];
  //       div.style.left = position.pageX + 'px';
  //       div.style.top = position.pageY + 'px';
  //       if (text) {
  //               div.style.display = "block";
  //               div.innerText = text;
  //       } else {
  //               div.style.display = "none";
  //               div.innerText = "";
  //       }
  // }

  function update_overlay(id, position){
      var div = $("#overlay_" + id)[0];
      div.style.left = (position.pageX + 800) + 'px'; // 800 is the offset
      if (position.pageY >= 900)
          div.style.display = "none";
      else {
          div.style.display = "";
          div.style.top = position.pageY + 'px';
      }
  }

  function watch_area(event, elem) {
      if (event.keyCode == 13) { // Enter keypress
          elem.value = elem.value.replace(/\r?\n|\r/g, "");
          save_comment_description(elem.dataset["comment"], elem.value);
      }
  }

  function create_overlay(id) {
      const comment = comments[id];
      var session = viewer.getSession();
      var document = session.getDocument();
      var anchor = document.createAnchor(comment.range.start.row, 0);
      comment.anchor = anchor;

      $('<div id="overlay_' + id + '" class="viewer_overlay viewer_overlay_' +
        comment.ctype + '">' +
        '<div class="destroy_button"><a onclick="destroy_comment(' + id +
        ')">&#10060;</a></div>' +
        '<textarea data-comment="' + id +
        '" onkeyup="watch_area(event, this)">' +
        comment.desc + '</textarea>' + '</div>').
          appendTo('#overlays');

      update_overlay(id, viewer.renderer.
                     textToScreenCoordinates(anchor.getPosition()));
      const callb = function(scrollTop){
          update_overlay(id, viewer.renderer.
                         textToScreenCoordinates(anchor.getPosition()));
      };
      session.on("changeScrollTop", callb);
      comment.callb = callb;
  }

  function toggle_comments() {
      if ($("#overlays").css("display") == "block")
          $("#overlays").css("display", "none");
      else
          $("#overlays").css("display", "block");
  }

  <% if @selected_revision %>
    $("#revision_selector").val("<%= @selected_revision %>");
    fetch_file_list();
  <% end %>
  <% if @selected_file %>
    load_file("<%= @selected_file %>", "<%= @selected_revision %>");
  <% end %>

  $("#warning_button").click(save_new_comment("warning"));
  $("#error_button").click(save_new_comment("error"));
  $("#toggle_comments").click(toggle_comments);

  // viewer.on("mousemove", function (e){
  //     var pos = e.getDocumentPosition();
  //     if (pos) {
  //         const up = Object.keys(comments).some((m) => {
  //             const mark = comments[m];
  //             if (mark.range.contains(pos.row, pos.column)) {
  //                 const pixelpos = viewer.renderer.textToScreenCoordinates(pos);
  //                 pixelpos.pageY += viewer.renderer.lineHeight;
  //                 update_tooltip(pixelpos, mark.desc);
  //                 return true;
  //             } else return false;
  //         });
  //         if (!up) update_tooltip(pos);
  //     }
  // });

</script>
