<div id="global">

  <div id="revisions">
    <div>
      <div class="repository_name">
        <%= @repository.address %>
        <br/>
        <a href="<%= edit_repository_path(@repository) %>">Edit</a>
        /
        <a href="<%= repositories_path %>">Home</a>
        /
        <a href="#" id="head_revision">Head</a>
      </div>
      <input type="hidden" id="repository_id"
             value="<%= @repository.id %>"/>
      <input type="hidden" id="revision"
             value="<%= @selected_revision[:sha] %>"/>
      <input type="hidden" id="filename"
             value="<%= @selected_file %>"/>
    </div>

    <div>
      <select id="revision_selector" onChange="fetch_file_list(base_viewer)">
        <% @revisions.each_with_index do |r| %>
        <option value="<%= r[:sha] %>"
                <% if r[:sha] == @selected_revision[:sha] %>
                selected="selected"
                <% end %>
                >
          <%= r[:sha][0..6] %> - <%= r[:date] %> - <%= r[:author] %>
        </option>
        <% end %>
      </select>
    </div>

    <div>
      <ul id="file_tree">
      </ul>
    </div>
  </div>

  <div id="viewer"></div>

  <div id="overlays"></div>

  <div id="comments">
    <button id="warning_button">Highlight warning</button>
    <button id="error_button">Highlight error</button>
    <button id="toggle_comments">Toggle comments</button>

    <p></p>

    Current comments&nbsp;:
    <div id="current_comments" class="current_comments"></div>

    Other comments &nbsp;:
    <div id="other_comments" class="other_comments"></div>
  </div>

</div>

<script>
  var base_viewer = ace.edit("viewer");
  var comments = {}; // Dict to centralize the comments
  base_viewer.setReadOnly(true);
  base_viewer.$blockScrolling = Infinity; // fix logs
  base_viewer.setOptions({
      highlightActiveLine: false,
      fontSize: "13pt",
      theme: 'ace/theme/chrome',
  });
  base_viewer.renderer.setAnimatedScroll(true);

  <% if @selected_revision %>
    fetch_file_list(base_viewer, "<%= @selected_revision[:sha] %>");
  <% end %>

  $("#head_revision").click(() => load_head_revision(base_viewer));
  $("#warning_button").click(save_new_comment("warning", base_viewer));
  $("#error_button").click(save_new_comment("error", base_viewer));
  $("#toggle_comments").click(toggle_comments);
</script>
